.category__item{
    background: #fde4e4;
    padding: 30px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
@media only screen and ( max-width:768px) {
    .category__item {      
            padding: 10px 5px;
        
        }
}
.category__item:hover{
    transform: translateY(-15px);
}